
<h1>Plants</h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Details</th>
			<th ng-show="hasRole('ROLE_ADMIN')">Delete</th>
			<th>Species</th>
			<th>Common Name</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="plant in plants">
			<td style="width: 1px"><button type="button" class="btn btn-default"
				ng-click="viewPlantDetails(plant)"><span class="glyphicon glyphicon-search"></span></button></td>
			<td style="width: 1px" ng-show="hasRole('ROLE_ADMIN')"><button type="button" class="btn btn-danger"
				ng-click="deletePlant(plant)"><span class="glyphicon glyphicon-remove"></span></button></td>
			<td>{{plant.species}}</td>
			<td>{{plant.commonName | uppercase}}</td>
		</tr>
	</tbody>
</table>
<button type="button" class="btn btn-default" ng-click="addPlant()" ng-show="hasRole('ROLE_ADMIN')">Add Plant</button>