<h1 [ngBusy]="busy">Plants</h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Details</th>
			<th [appRoles]="['ROLE_ADMIN']">Delete</th>
			<th>Species</th>
			<th>Common Name</th>
		</tr>
	</thead>
	<tbody *ngIf="plants | async; let plants; else loading">
		<tr *ngFor="let plant of plants">
			<td style="width: 1px"><button type="button" class="btn btn-default"
				(click)="viewPlantDetails(plant)"><span class="glyphicon glyphicon-search"></span></button></td>
			<td style="width: 1px" [appRoles]="['ROLE_ADMIN']"><button type="button" class="btn btn-danger"
				(click)="deletePlant(plant)"><span class="glyphicon glyphicon-remove"></span></button></td>
			<td>{{plant.species}}</td>
			<td>{{plant.commonName | uppercase}}</td>
		</tr>
	</tbody>
</table>

<button type="button" class="btn btn-default" (click)="goToAddPlants()" [appRoles]="['ROLE_ADMIN']">Add Plant</button>
<ng-template #loading>Loading plants…</ng-template>