
<h1>Login</h1>

<div class="row">

	<div class="col-md-6">
		<form #loginForm="ngForm" name="loginForm" class="form-horizontal" role="form" (ngSubmit)="login()" novalidate>
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">User Name</label>
				<div class="col-sm-9">
					<input #username="ngModel" type="text" id="username" name="username" autofocus [(ngModel)]="user.username" required
					class="form-control" placeholder="&lt;Username&gt;">
			 		<span class="help-block" *ngIf="username.invalid && username.touched">Please provide a valid username.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Password</label>
				<div class="col-sm-9">
					<input #password="ngModel" type="text" id="password" name="password" type="password" autofocus [(ngModel)]="user.password" required
						class="form-control" placeholder="&lt;Password&gt;">
					<span class="glyphicon glyphicon-arrow-up form-control-feedback" appCapsLock></span>
					<span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="loginForm.password.$invalid"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<input type="submit" value="Log In" class="btn btn-primary" ng-disabled="loginForm.$invalid"/>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<p class="alert alert-info">Login with admin:admin to add and delete plants.</p>
	</div>
</div>