<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="plants.viewAll"><span class="main">botanic</span> | <span class="secondary">NG</span></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p *ngIf="user.isAuthenticated" class="navbar-text navbar-right">Signed in as
        <strong>{{user ? user.username : 'N/A'}}</strong>
      </p>
      <p *ngIf="!user.isAuthenticated" class="navbar-text navbar-right">Not logged in</p>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="plants">Plants</a></li>
        <li routerLinkActive="active"><a routerLink="garden">Garden</a></li>
        <li routerLinkActive="active"><a routerLink="about">About</a></li>
        <li class="dropdown" dropdown><a class="dropdown-toggle" dropdownToggle (click)="false"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li *ngIf="user.isAuthenticated"><a routerLink="logout">Logout</a></li>
            <li *ngIf="!user.isAuthenticated"><a routerLink="login">Login</a></li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<div toastContainer style="position: absolute; right: 15px;"></div>
<div class="container">
  <div class="container-fluid">
    <div class="container botanic-container">
      <div id="botanic-content" class="tab-content">
        <ng-template [ngBusy]="{busy: busy, minDuration: 500}"></ng-template>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <p class="text-muted">&copy; <span>2014-2018</span> <a href="http://blog.hillert.com">Gunnar Hillert</a>, Licensed under ASL 2.0.</p>
  </div>
</div>