<h1>Add Plant</h1>

<form class="form-horizontal" role="form" ng-submit="submitPlant()" novalidate>
	<div class="form-group">
		<label for="genus" class="col-sm-2 control-label">Genus</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="genus"
						 ng-model="plant.genus" name="genus" placeholder="The Genus of the Plant">
		</div>
	</div>
	<div class="form-group">
		<label for="species" class="col-sm-2 control-label">Species</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="species"
						 ng-model="plant.species" name="species" placeholder="The Species of the Plant">
		</div>
	</div>
	<div class="form-group">
		<label for="commonName" class="col-sm-2 control-label">Common Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="commonName"
						 ng-model="plant.commonName" name="commonName" placeholder="Common Name of the Plant">
		</div>
	</div>

	<div class="form-group">
		<label for="latitude" class="col-sm-2 control-label">Latitude</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="latitude" required
						 ng-model="plant.location.latitude" name="latitude" placeholder="Latitude">
			<button type="button" class="btn btn-default" ng-click="getMyLocation()">Get My Location</button>
		</div>
	</div>
	<div class="form-group">
		<label for="longitude" class="col-sm-2 control-label">Longitude</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="longitude" required
						 ng-model="plant.location.longitude" name="longitude" placeholder="Longitude">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="button" class="btn btn-default" ng-click="goBack()">Cancel</button>
			<button type="submit" class="btn btn-default">Add Plant</button>
		</div>
	</div>
</form>

<pre>{{plant}}</pre>
<google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
	<marker coords="plant.location"></marker>
</google-map>
